[submodule "Submodules/tradeapp-dashboard"]
	path = Submodules/tradeapp-dashboard
	url = https://github.com/dev-alt/tradeapp-dashboard.git
[submodule "Submodules/tradeapp-backend"]
	path = Submodules/tradeapp-backend
	url = https://github.com/dev-alt/tradeapp-backend.git
[submodule "tradeapp"]
	path = tradeapp
	url = https://github.com/dev-alt/tradeapp.git
[submodule "Submodules/tradeapp"]
	path = Submodules/tradeapp
	url = https://github.com/dev-alt/tradeapp.git
